<h1>StaticPage</h1>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title a href="main.html">AttCheck</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="mainstyle.css">
</head>
<body>
	<div id="navbar">
		<h1>AttCheck</h1>
		<a href="#signin" class="blue">ВОЙТИ</a>
		<a href="#start" class="red">Я ЗДЕСЬ ВПЕРВЫЕ</a>
	</div>

	<div class="img">
		<img src="classroom.jpg" width="100%" height="520">
		<h2>Тратьте время лекций только на лекции</h2>
	</div>
	

</body>
</html>
